// General Style

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: $text-color;
}

section {
  padding: 5rem 0;
}
h2 {
  font-size: 2rem;
  color: $heading-color;
}
p {
  line-height: 1.5;
}
