// General Style

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: $text-color;
}

section {
  padding: 5rem 0;
}
h2 {
  font-size: 2rem;
  color: $heading-color;
}
p {
  line-height: 2;
}

ul {
  list-style-type: none;
  padding-left: 0;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .bullet {
      background-color: #eff4f7;
      border-radius: 50%;
      height: 2.125rem;
      width: 2.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }
    span {
      flex: 1 1;
    }
  }
}
